name: Rust

on:
  push:
    branches: [ main ]
    tags:
      - '*'
  pull_request:
    branches: [ main ]
  workflow_dispatch:


env:
  build-with-pgo: true

jobs:
  build-and-test:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            use-pgo: true
            use-cross: false
          - os: ubuntu-latest
            target: i686-unknown-linux-gnu
            use-pgo: true
            use-cross: false
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            use-pgo: false # no native runner
            use-cross: true
          - os: ubuntu-latest
            target: armv7-unknown-linux-gnueabihf
            use-pgo: false # no native runner
            use-cross: true

          - os: windows-latest
            target: x86_64-pc-windows-msvc
            use-pgo: true
            use-cross: false
          - os: windows-latest
            target: i686-pc-windows-msvc
            use-pgo: true
            use-cross: false

          - os: macos-15-intel # x86
            target: x86_64-apple-darwin
            use-pgo: true
            use-cross: false
          - os: macos-latest # M1
            target: aarch64-apple-darwin
            use-pgo: true
            use-cross: false

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Build C Libraries and Run Tests
        uses: Reloaded-Project/devops-rust-lightweight-binary@v1
        with:
          artifact-prefix: C-Library
          upload-symbols-separately: false
          target: ${{ matrix.target }}
          use-pgo: ${{ matrix.use-pgo && env.build-with-pgo }}
          use-cross: ${{ matrix.use-cross }}
          features: "c-exports"
          build-library: true
          run-tests-and-coverage: true
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
          rust-project-path: src/reloaded3_server_workflows
          workspace-path: src
          pgo-project-path: src/reloaded3_server_workflows

      - name: Build CLI Binary
        uses: Reloaded-Project/devops-rust-lightweight-binary@v1
        with:
          target: ${{ matrix.target }}
          use-pgo: ${{ matrix.use-pgo && env.build-with-pgo }}
          use-cross: ${{ matrix.use-cross }}
          build-library: false
          run-tests-and-coverage: false
          rust-project-path: src/cli
          workspace-path: src
          pgo-project-path: src/reloaded3_server_workflows
      # Note: The GitHub Runner Images will contain an up to date Rust Stable Toolchain
      #       thus as per recommendation of cargo-semver-checks, we're using stable here.
      #
      # Note to reader. If adding this to a new repo, please clear cache.
      - name: Run cargo-semver-checks
        if: github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')
        working-directory: src
        shell: bash
        run: |
          SEARCH_RESULT=$(cargo search "^reloaded3_server_workflows$" --limit 1)

          if echo "$SEARCH_RESULT" | grep -q "^reloaded3_server_workflows "; then
              # Run semver checks on stable, because nightly sometimes gets borked in cargo-semver-checks.
              rustup +stable target add ${{ matrix.target }}
              # Note: binstall is available after devops-rust-test-and-coverage@v1 call
              cargo +stable binstall --no-confirm cargo-semver-checks --force
              cargo +stable semver-checks --target ${{ matrix.target }} --features c-exports
          else
              echo "No previous version found on crates.io. Skipping semver checks."
          fi

      - name: Check documentation is valid
        if: github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')
        working-directory: src
        env:
          RUSTDOCFLAGS: "-D warnings"
        run: cargo doc --workspace --all-features --document-private-items --target ${{ matrix.target }}

      - name: Run linter
        if: github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')
        working-directory: src
        run: cargo clippy --workspace --all-features --target ${{ matrix.target }} -- -D warnings

      - name: Run formatter check
        uses: actions-rust-lang/rustfmt@v1
        if: github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')
        with:
          manifest-path: src/Cargo.toml
  test-on-wine:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64-pc-windows-gnu, i686-pc-windows-gnu]

    steps:
      - uses: actions/checkout@v6

      # Note: Currently in cross, Wine tests break with debug info.
      # https://github.com/cross-rs/cross/issues/1637#issuecomment-3275459974
      - name: Run Tests and Coverage on WINE
        uses: Reloaded-Project/devops-rust-test-and-coverage@v1
        with:
          rust-project-path: ./src
          upload-coverage: true
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
          target: ${{ matrix.target }}
          use-cross: true
          additional-test-args: --release

  build-c-headers:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Generate C++ bindings
        uses: Reloaded-Project/devops-rust-cbindgen@v1
        with:
          rust-project-path: ./src/reloaded3_server_workflows
          config-file: ../../.github/cbindgen_cpp.toml
          output-header-file: bindings_cpp.hpp
          use-cache: 'true'

      - name: Generate C bindings
        uses: Reloaded-Project/devops-rust-cbindgen@v1
        with:
          rust-project-path: ./src/reloaded3_server_workflows
          config-file: ../../.github/cbindgen_c.toml
          output-header-file: bindings_c.h
          use-cache: 'false' # Caching already included in Generate C++ bindings action

  publish-crate:
    permissions:
      contents: write

    needs: [build-and-test,build-c-headers,test-on-wine]
    # Publish only on tags
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Publish Rust Crate and Artifacts
        uses: Reloaded-Project/devops-publish-action@v3
        with:
          compression-tool: 7z
          artifact-groups-file: .github/artifact-groups.yml
          changelog-enabled: 'true'
          changelog-template: .github/changelog.hbs
          changelog-is-release: ${{ startsWith(github.ref, 'refs/tags/') }}
          changelog-release-tag: ${{ github.ref_name }}
          changelog-override-starting-version: 'true'
          changelog-hide-credit: 'true'